<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Draw My Life App 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB3ABB981C7A32520054A82F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB3ABBB11C7A32530054A82F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB3ABBBC1C7A32530054A82F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
